@model BlogSite.Models.Blog

@{
    ViewBag.Title = "Delete";
}

<h2 class="mt-4">Blog Sil</h2>
<hr />

<h3>Silmek istediğine emin misin?</h3>
<hr />
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.İcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.İcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EklenmeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anasayfa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anasayfa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onay)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mb-4">
            <input type="submit" value="Sil" class="btn btn-dark" /> |
            @Html.ActionLink("Blog Listesine Dön", "Index",null,new { @class="btn btn-primary"})
        </div>
    }
</div>
